@import "tailwindcss";
@import "tw-animate-css";

.text-white {
  color: var(--text-white)
}

.text-black {
  color: var(--text-black)
}

.text-orange {
  color: var(--text-orange)
}

.text-ok {
  color: var(--text-ok)
}

.text-nok {
  color: var(--text-nok)
}

.bg-white {
  background-color: var(--bg-white);
}

.bg-black {
  background-color: var(--bg-black);
}

.bg-orange {
  background-color: var(--bg-orange);
  opacity: 0.7;
}

.bg-ok {
  background-color: var(--bg-ok);
}

.bg-nok {
  background-color: var(--bg-nok);
}



:root {
  --background: #F9F7F7;
  --foreground: #000000;

  --text-white: #F9F7F7;
  --text-black: #03071e;
  --text-orange: #e85d04;
  
  --text-ok: #C1E59F;
  --text-nok: #FF937E;

  --bg-white: #F9F7F7;
  --bg-black: #03071e;
  --bg-orange: #f48c06;

  --bg-ok: #A3D78A;
  --bg-nok: #FF5555;


  --color-fiery-red-sunset-1: #03071E;
  --color-fiery-red-sunset-2: #370617;
  --color-fiery-red-sunset-3: #6A040F;
  --color-fiery-red-sunset-4: #9D0208;
  --color-fiery-red-sunset-5: #D00000;
  --color-fiery-red-sunset-6: #DC2F02;
  --color-fiery-red-sunset-7: #E85D04;
  --color-fiery-red-sunset-8: #F48C06;
  --color-fiery-red-sunset-9: #FAA307;
  --color-fiery-red-sunset-10: #FFBA08;

}